# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/
.env
credit-risk-env/

# Jupyter Notebook
.ipynb_checkpoints

# Machine Learning / Data
models/
data/
*.npy
*.joblib
*.pt
*.bin
*.h5
results/
figures/
wandb/

# Specific files
HMDA_year_2025.csv
*.log
output/
research-paper/
*.zip
